@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(49, 53, 99);
  color: white;
  font-family: "Open Sans", sans-serif;
}

.main-page {
  padding: 0px 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page h1 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 34px;
}
.main-page p {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}
.card-grid {
  margin: 40px auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

img {
  width: 100%;
}

.card {
  position: relative;
  max-width: 260px;
  min-width: 80px;
  margin: 0px 8px 8px 8px;
}
.card:hover {
  cursor: pointer;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.1s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.1s;
}

.card .back {
  transition: all ease-in 0.1s;
  transition-delay: 0.1s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: white 1px solid;
  border-radius: 0.25rem;
}

button:hover {
  cursor: pointer;
  background-color: rgba(131, 131, 131, 0.5);
}
.victory-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.victory-modal {
  animation: Flip 0.2s linear;
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  background-color: whitesmoke;
  color: black;
  padding: 18px;
}
.victory-hidden {
  display: none;
}
.victory-modal h1 {
  font-size: 40px;
  font-weight: 500;
  color: rgb(49, 53, 99);
  margin-bottom: 20px;
}
.victory-modal p {
  font-weight: 300;
  font-size: 24px;
}
.victory-modal img {
  width: 100%;
  margin: 20px 0px;
}
.victory-modal button {
  margin-top: 20px;
}
.black-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all ease-in 0.25s;
  transition-delay: 0.15s;
}
/* Mobile Transition */

@media only screen and (max-width: 700px) {
  .card-grid {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-page {
    margin-top: 10px;
    padding: 0px 8px;
  }
  .card {
    margin: 0px 4px 4px 4px;
  }
}

/* Animations */

@keyframes Flip {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
